<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/secret.jpg" alt="">
  </div>
  <div class="headings">
    <h2>The biggest Secret</h2>
    <a href="/smoothies" class="btn">Disclose it</a>
  </div>
</header>


<%- include('partials/footer'); -%>